/* CSS declarations go here */
.container {
	padding-top: 5rem;
}

.title {
	text-align: center;
}
.randomizer {
	min-height: 150px;
}

.results {
	min-height: 75px;
}

.randomizer {
	text-align: center;
}

.back {
	text-align: center;
	padding-bottom: 50px;
}